{{ define "main" }}

<body>
       
            <section class="h-screen flex items-center">
                <div class="container mx-auto px-6">
                    <div class="flex flex-col lg:flex-row items-center justify-between">
                        
                        <!-- Text Content (Left) -->
                        <div class="lg:w-1/2 text-center lg:text-left">
                            <h1 class="text-4xl font-bold text-gray-900">{{ .Params.name }}</h1>
                            <h2 class="text-lg text-gray-500 mt-2">{{ .Params.description }}</h2>
                        </div>
            
                        <!-- Image (Right) -->
                        <div class="lg:w-1/2 flex justify-center lg:justify-end mt-8 lg:mt-0">
                            <img src="{{ .Params.img }}" class="w-80 max-w-full" alt="Myself">
                        </div>
            
                    </div>
                </div>
            </section>
            
</body>

{{ end }}
