{{ define "main" }}


<body>
<div class="text-center my-8 main">
 <h1 class="lg:text-7xl text-4xl font-medium mt-10 mx-4 ">
        {{ .Title }}
    </h1>

    <p class="text-3xl sm:text-xl text-gray-700 mt-4 font-medium mx-4">
        {{ .Content }}
    </p>  

    {{ $blog := where .Site.RegularPages "Section" "blog" }}
    {{ $blog := where $blog "Lang" .Site.Language.Lang }} <!-- Filter by language -->
    {{ $paginator := .Paginate $blog }}
    
    <!-- Dynamic Heading -->
    <h2 class="text-center text-4xl font-medium mt-30 mt-10 mb-4">
        {{ if eq $paginator.PageNumber 1 }}
            {{ .Params.contents | default "Contents" }}
        {{ else }}
            {{ .Params.page_number | default "Page" }} {{ $paginator.PageNumber }}
        {{ end }}
    </h2>

    <img src="https://patdryburgh.github.io/hitchens/assets/images/divider.svg" alt="Divider" class="mx-auto pb-28"> 

    <!-- <div class="pagination-container max-w-3xl mx-auto lg:px-4 px-20 md:px-8">
        {{ $blog := where .Site.RegularPages "Section" "blog" }}
        {{ $paginator := .Paginate $blog }}
        
        {{ range $paginator.Pages }}
        <div class="post-item flex flex-col lg:flex-row items-start lg:items-start gap-2 lg:gap-4 pb-4 mb-4">
    
            <div class="w-full lg:w-4/12 text-gray-600 text-base sm:text-lg order-1 lg:order-2 text-left lg:text-right">
                {{ .Date.Format "Jan 2, '06" }}
            </div>
        
            <div class="w-full lg:w-8/12 order-2 lg:order-1 text-left">
                <h3 class="text-lg sm:text-xl md:text-2xl font-medium leading-tight">
                    <a href="{{ .RelPermalink }}" class="text-black hover:text-gray-700 transition duration-200">
                        {{ .Title }}
                    </a>
                </h3>
            </div>
        </div>
        
        
        {{ end }}
    
        <div class="pagination-nav mt-10 flex flex-col sm:flex-row justify-between items-center space-y-4 sm:space-y-0">
            {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}" class="text-black font-medium text-lg px-4 py-2 hover:underline">
                &lt; {{ .Site.Params.older_posts | default "Older Posts" }}
            </a>
            {{ end }}
    
            <div class="text-center font-medium">
                {{ $paginator.PageNumber }} {{ .Site.Params.of | default "of" }} {{ $paginator.TotalPages }}
            </div>
    
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}" class="text-black font-medium text-lg px-4 py-2 hover:underline">
                {{ .Site.Params.newer_posts | default "Newer Posts" }} &gt;
            </a>
            {{ end }}
        </div>
    </div> -->
    
</div>
</body>

{{ end }}
