body{
    background: #fede00;
    font-family: 'Alegreya Sans';
}
h1,h2,h3{
    font-family: "Neuton", serif;
}
nav a, footer a{
    display: block;
    padding: .25em .5em;
     font-size: 19px;
}
.search__input {
    background: transparent;
    border: 0;
    font: 1.3em ;
    padding: 0.5em;
    color: #0b0404;
    text-align: center;
    transition: all 0.3s ease;
}

/* Dotted border appears only when focused */
.search__input:focus {
    outline: none;
    box-shadow: 0 0 0 2px dotted #0b0404; /* Dotted border on focus */
}

/* Placeholder styling */
::placeholder {
    text-align: center;
    color: #0b0404;
}
.footer a{
text-decoration: underline;}
.main h1{
    font-size: 7em;
    margin-top: 1em;
    padding: 0 2rem;
    font-weight: 500;
    font-family: "Neuton", serif;
}
.main h2{
    font-size: 3em;
    padding: 0 2rem;
    font-weight: 500;
    font-family: "Neuton", serif;
}
.main p{
    font-size: 3em;
    color: #64644B;
    padding: 0 2rem;
    font-family: 'Alegreya Sans';
}
.about-h1{
    font-size: 3em;
    text-align: center;
    font-family: "Neuton", serif;
}
.about-p{
    text-align: justify;
    font-size: 1.3125em; 
    line-height: 1.5;
    font-family: 'Alegreya Sans';
    
}
#italic{
    font-size: 1.312em; 
  
}

.date{
    padding: .5em 0;
    font-family: 'Alegreya Sans';
}

@media (max-width: 640px) {
   
    .main h1 {
        font-size: 4em; /* Smaller heading size */
        padding: 0 1rem; /* Reduce padding */

    }

    .main h2 {
        font-size: 2em; /* Adjust second heading size */
        padding: 0 1rem; /* Reduce padding */
    }

    .main p {
        font-size: 1.5em; /* Smaller paragraph text */
        padding: 0 1rem; /* Reduce padding */
    }

      
    
}