<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans' rel='stylesheet'>

    
</head>
<body>
    <footer class="py-8 bg-gray-900 text-white">
        <div class="max-w-4xl lg:max-w-7xl mx-auto px-4 text-center">
            <!-- Navigation Links -->
            <nav class="flex flex-wrap justify-center gap-4 lg:gap-1">
                {{ $currentLang := .Site.Language.Lang }}
                {{ $defaultLang := .Site.Params.defaultContentLanguage | default "en" }}
                {{ $menu := index .Site.Data.navigation.nav $currentLang }}
            
                {{ range $menu }}
                    {{ $url := .url }}
                    {{ if eq $currentLang $defaultLang }}
                        {{ $url = .url | relURL }}
                    {{ else }}
                        {{ $url = .url | absLangURL }}
                    {{ end }}
                    <a href="{{ $url }}" class="px-3 py-2 text-gray-300 hover:text-gray-400 transition">
                        {{ .name }}
                    </a>
                {{ end }}
            </nav>
    
            <!-- Copyright -->
            <p class="text-center text-gray-400 text-sm mt-6">
                &copy; {{ now.Year }} {{ .Site.Title }}. All rights reserved.
            </p>
        </div>
    </footer>
    
    
</body>
</html>
