<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans' rel='stylesheet'>

    
</head>
<body>
    <footer class="bg-black py-8 ">
        <div class="w-full mx-auto ">
            <!-- Navigation Links -->
            <nav class="flex justify-center space-x-6">
                {{ $menu := index .Site.Data.navigation.nav .Site.Language.Lang }}
                {{ range $menu }}
                <a href="{{ .url | relURL }}" class="text-white hover:text-black dark:hover:text-white transition">
                    {{ .name }}
                </a>
                {{ end }}
            </nav>
    
         
    
            <!-- Copyright -->
            <p class="text-center text-gray-500 dark:text-gray-400 text-sm mt-6">
                &copy; {{ now.Year }} {{ .Site.Title }}. All rights reserved.
            </p>
        </div>
    </footer>
    
    

    
</body>
</html>
